<% provide(:title, "Edit user") %>
<<<<<<< HEAD


<% if !current_flatmate.admin? %>
<h1>Update your profile</h1>
=======
<h1>Update profile</h1>


<% if !current_flatmate.admin? %>
>>>>>>> 10dc31008718014f124b86e36380fff754cf66fe
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@flatmate) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :firstname %>
      <%= f.text_field :firstname, class: 'form-control' %>

      <%= f.label :lastname %>
      <%= f.text_field :lastname, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>    
  </div>
</div>

<% else %>
<<<<<<< HEAD
<h1>Update flatmate profile </h1>
=======

>>>>>>> 10dc31008718014f124b86e36380fff754cf66fe
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <%= form_for(@flatmate) do |f| %>
	<%= render 'shared/error_messages' %>
	
	<%= f.label :charges %>
	<%= f.text_field :charges, class: 'form-control' %>

	<%= f.label :is_payed %>
	<%= f.select :is_payed, options_for_select([['Yes', true], ['No', false]])%>

<<<<<<< HEAD
	<%= f.text_field :password, class: 'form-control' %>
	

	<%= f.submit "Save changes", class: "btn btn-success" %>

=======
	<%= f.submit "Save changes", class: "btn btn-success" %>
>>>>>>> 10dc31008718014f124b86e36380fff754cf66fe
    <% end %>
  </div>
</div>
<% end %>
