<% provide(:title, @flatmate.firstname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
  	<%= @flatmate.firstname %> <%= @flatmate.lastname %>
     </h1>
     <p>
	<strong>Telefon: </strong>
	<%= @flatmate.phone %>
     </p>
     <p>
	<strong>Email: </strong>
	<%= @flatmate.email %>
     </p>
     <p>
	<strong>Opłaty: </strong>
	<%= @flatmate.charges %>
     </p>
     <p>
	<strong>Czy zapłacone: </strong>
	<%= @flatmate.is_payed %>
     </p>

    </section>
  </aside>
</div>

<%= link_to 'Edytuj', edit_flatmate_path(@flatmate) %> |
<%= link_to 'Wróć', flatmates_path %>
