<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "FLATMATE HELPER", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Strona główna",   root_path %></li>
       <!-- <li><%= link_to "O aplikacji",  page_path('about') %></li> -->

        <% if logged_in? %>
	<li class = "dropdown">
	 <a hfer="#" class="dropdown-toggle" data-toggle="dropdown">
	  	Mieszkanie <b class ="caret"></b>
	  </a>
          <ul class="dropdown-menu">
                <% if current_flatmate.Flat_id.nil? %>
                  <li><%= link_to "Dodaj mieszkanie", new_flat_path %></li>
                <% else %>
		  <li><%= link_to "Lokatorzy", flatmates_path %></li>
		<% end %>
	        <% if current_flatmate.admin? %>
		  <li><%= link_to "Dodaj lokatora", new_flatmate_path %></li>
	      	<% end %>
	  </ul>
	</li>
    <li><%= link_to "Mapa", maps_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Konto <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profil", current_flatmate %></li>
              <li><%= link_to "Narzędzia", edit_flatmate_path(current_flatmate) %></li>

              <li class="divider"></li>
              <li>
                <%= link_to "Wyloguj", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Zaloguj", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
