<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "FLATMATE HELPER", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",  about_path %></li>
        <% if logged_in? %>
	<li class = "dropdown"> 
	 <a hfer="#" class="dropdown-toggle" data-toggle="dropdown">
	  	Flatmates <b class ="caret"></b>
	  </a>
          <ul class="dropdown-menu">
		<li><%= link_to "All", flatmates_path %></li>
	        <% if current_flatmate.admin? %>
		  <li><%= link_to "Add", new_flatmate_path %></li>
	      	<% end %>
	  </ul>
	</li>
    <li><%= link_to "Map", maps_path %></li> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_flatmate %></li>
              <li><%= link_to "Settings", edit_flatmate_path(current_flatmate) %></li>

              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
